<%= form_with model: @address,
              class: "space-y-6" do |f| %>

  <div>
    <%= f.label :full_name,
                class: "block text-sm text-gray-400 mb-2" %>

    <%= f.text_field :full_name,
                     class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
  </div>

  <div>
    <%= f.label :phone_number,
                class: "block text-sm text-gray-400 mb-2" %>

    <%= f.text_field :phone_number,
                     class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
  </div>

  <div>
    <%= f.label :address_line_1,
                class: "block text-sm text-gray-400 mb-2" %>

    <%= f.text_field :address_line_1,
                     class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
  </div>

  <div>
    <%= f.label :address_line_2,
                class: "block text-sm text-gray-400 mb-2" %>

    <%= f.text_field :address_line_2,
                     class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div>
      <%= f.label :city,
                  class: "block text-sm text-gray-400 mb-2" %>

      <%= f.text_field :city,
                       class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
    </div>

    <div>
      <%= f.label :state,
                  class: "block text-sm text-gray-400 mb-2" %>

      <%= f.text_field :state,
                       class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
    </div>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div>
      <%= f.label :postal_code,
                  class: "block text-sm text-gray-400 mb-2" %>

      <%= f.text_field :postal_code,
                       class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
    </div>

    <div>
      <%= f.label :country,
                  class: "block text-sm text-gray-400 mb-2" %>

      <%= f.text_field :country,
                       class: "w-full bg-black border border-white/10 rounded-xl px-5 py-4 text-white" %>
    </div>

  </div>

  <%= f.submit class: "w-full h-14 bg-white text-black rounded-full uppercase tracking-[0.35em] text-sm hover:opacity-90 transition-all duration-500" %>

<% end %>